* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
<<<<<<< HEAD
  background-color: lightseagreen;
=======
    background-color: lightgreen;
>>>>>>> d966ea43aa990d6f86a9cee60f69dff0d92c40a6
}