* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
<<<<<<< Updated upstream
  background-color: lightseagreen;
=======
    background-color: lightgreen;
>>>>>>> Stashed changes
}