* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
<<<<<<< Updated upstream
    background-color: lightgreen;
}
=======
  background-color: lightseagreen;
}
>>>>>>> Stashed changes
