.top-landing {
  margin: 3rem auto 2rem auto;
  font-family: $font-fam-1;
  text-align: center;
}

.top-landing h1 {
  font-size: $font-xlg;
  color: $darkBlue;
}

.landing-selection {
  font-size: $font-lg;
  background-color: $yellow;
  border: 2px solid $darkBlue;
  border-radius: 4px;
  padding: 2.5rem;
  margin: 0;
}

#dest-title, .arrival p, #time-title, #duration-title{
  margin-bottom: 0;
}

select, #start {
  font-size: $font-med;
  padding: 3.8px 0 3.8px 0;
  width: 100%;
  cursor: pointer;
}

#start {
  padding: 0;
}

.landing-submit {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}

#land-sub-button {
  color: $yellow;
  border: 2px solid $darkBlue;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  background: none;
  transition: 0.8s;
  cursor: pointer;
}

#land-sub-button:hover {
  color: $darkBlue;
  background-color: $yellow;
}