.nav-logo {}

.navbar-nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.navbar a {
    color: $yellow;
    padding: 0.4rem;
    font-size: $font-sm;
    text-decoration: none;
}

.navbar .active {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}