.container-signup {
  margin: 1.5rem 0;
  padding: 2rem 1rem;
}

.form {
  min-width: 40%;
}

.form_title {
  color: white;
}

.form_button {
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  background: var(--color-primary);
  cursor: pointer;
}

.form_button:hover {
  text-decoration: underline;
}

.or {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
}

.back-link {
 margin-top: 1rem;
 font-size: $font-med;
 position: relative;
 left: 1rem;
}
