.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

//.form>*:first-child {
//    margin-top: 0;
//}
////.form>*:last-child {
//    margin-bottom: 0;
//}
.form_message {
    text-align: center;
}

.form_title {
    text-align: center;
    color: white;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid purple;
    outline: none;
    background: pink;
    transition: background 0.2s, border-color 0.2s;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form_button:hover {
    background: var(--color-primary-dark);
}

.form_button:active {
    transform: scale(0.98);
}

.or {
    text-align: center;
    background-color: #ffff;
}

.guest_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.guest_button:hover {
    background: var(--color-primary-dark);
}

.guest_button:active {
    transform: scale(0.98);
}