// these are not set and can be changed
// colors
$darkBlue: #225564;
$ashBlue: #47798C;
$lightBlue: #7AA9BF;
$darkPink: #D3A9AB;
$lightPink: #E4CED0;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem; 

// Font Family
$font-fam-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; // main body
$font-fam-2: 'Uchen', serif; // for short words or phrases
$font-fam-3: 'Beth Ellen', cursive; // cursive
$font-fam-4: 'Allerta', sans-serif; // for spaced fonts or sentences

@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Beth+Ellen&family=Uchen&display=swap');