// these are not set and can be changed
// colors
$black: rgb(0, 0, 0);
$darkBlue: #003049;
$orange: #F77F00;
$yellow: #FCBF49;
$lightYellow: #EAE2B7;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Font Family
$font-fam-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; // main body
$font-fam-2: 'Uchen', serif; 
$font-fam-3: 'DM Serif Text', serif;