* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #EAE2B7;
}

header {
  width: 100%;
  height: 3.5rem;
  background-color: #003049;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.navbar-nav {
  position: absolute;
  right: 1rem;
}

.top-landing {
  margin: 3rem auto 2rem auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.top-landing h1 {
  font-size: 3.25rem;
  color: #003049;
}

.landing-selection {
  font-size: 1.25rem;
  background-color: #FCBF49;
  border: 2px solid #003049;
  border-radius: 4px;
  padding: 2.5rem;
  margin: 0;
}

#dest-title, .arrival p, #time-title, #duration-title {
  margin-bottom: 0;
}

select, #start {
  font-size: 1.125rem;
  padding: 3.8px 0 3.8px 0;
  width: 100%;
  cursor: pointer;
}

#start {
  padding: 0;
}

.landing-submit {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
}

#land-sub-button {
  color: #FCBF49;
  border: 2px solid #003049;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  background: none;
  transition: 0.8s;
  cursor: pointer;
}

#land-sub-button:hover {
  color: #003049;
  background-color: #FCBF49;
}

.heading {
  margin: 3rem auto;
  font-size: 3.25rem;
  color: #003049;
  text-align: center;
  text-decoration: underline;
}

.form {
  width: 22rem;
  padding: 3rem;
  margin: auto;
  background-color: #003049;
  text-align: center;
  border: 4px solid #FCBF49;
  border-radius: 1rem;
}

.form input {
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  text-align: center;
  padding: 0.875rem 0.625rem;
  width: 14rem;
  border-radius: 2rem;
  outline: none;
  color: white;
  transition: 0.25s;
}

.form input:focus {
  width: 16rem;
  border-color: #FCBF49;
}

.form input[type="submit"] {
  color: #FCBF49;
  text-align: center;
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  outline: none;
  transition: 1s;
}

.form input[type="submit"]:hover {
  color: white;
  border: 2px solid #FCBF49;
  background-color: #FCBF49;
  cursor: pointer;
}

.container-signup {
  width: 400px;
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: var(--border-radius);
  -ms-grid-column-align: center;
      justify-self: center;
}

.form_message {
  text-align: center;
}

.form_title {
  text-align: center;
  color: white;
}

.form_input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid purple;
  outline: none;
  background: pink;
  transition: background 0.2s, border-color 0.2s;
}

.form_button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form_button:hover {
  background: var(--color-primary-dark);
}

.form_button:active {
  transform: scale(0.98);
}

.or {
  text-align: center;
  background-color: #ffff;
}

.guest_button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.guest_button:hover {
  background: var(--color-primary-dark);
}

.guest_button:active {
  transform: scale(0.98);
}

#timeLine {
  width: 100%;
  background-color: gray;
  height: 20px;
  z-index: 200;
}

.wrapper {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-col {
  min-width: 3rem;
  width: 4rem;
}

#block {
  background-color: black;
  height: 2rem;
}

.lots {
  height: 2rem;
  border: 1px solid black;
  background-color: #c8a2c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  height: 2.5rem;
  background-color: #FCBF49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.space {
  width: 100%;
  height: 2.5rem;
  border: 1px solid black;
  background-color: #d6d6d6;
  overflow: hidden;
  line-height: normal;
}

.space:hover {
  background-color: #c7c7c7;
  cursor: pointer;
}

.heading {
  margin: 3rem auto;
  font-size: 3.25rem;
  color: #003049;
  text-align: center;
  text-decoration: underline;
}

#info_block {
  text-align: center;
  color: white;
  border: 4px solid #FCBF49;
  border-radius: 1rem;
  width: 20rem;
  height: 100%;
  padding: 3rem;
  margin: auto;
  margin-left: 1rem;
  background-color: #003049;
}

#info_block input {
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  text-align: center;
  padding: 0.875rem 0.625rem;
  width: 14rem;
  border-radius: 2rem;
  outline: none;
  color: white;
  transition: 0.25s;
}

#info_block input:focus {
  border-color: #FCBF49;
}

#info_block input[type="submit"] {
  color: #FCBF49;
  border: 2px solid white;
  background: none;
  display: block;
  margin: 1em auto;
  padding: 0.875rem 3rem;
  border-radius: 2rem;
  outline: none;
  transition: 0.25s;
}

#info_block input[type="submit"]:hover {
  color: white;
  border: 2px solid #FCBF49;
  background-color: #FCBF49;
  cursor: pointer;
}

.booking {
  visibility: hidden;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#dateToggle {
  background-color: lightblue;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 1rem;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */