<section>
  <div class="top-landing">
    <h1>Admin View</h1>
  </div>
</section>

<section>
  <div id="timeLine">
  </div>
  <div class="wrapper">
    <div class="time-axis">
      <div class="time" id="block"></div>
      <div class="time">12am</div>
      <div class="time">1am</div>
      <div class="time">2am</div>
      <div class="time">3am</div>
      <div class="time">4am</div>
      <div class="time">5am</div>
      <div class="time">6am</div>
      <div class="time">7am</div>
      <div class="time">8am</div>
      <div class="time">9am</div>
      <div class="time">10am</div>
      <div class="time">11am</div>
      <div class="time">12pm</div>
      <div class="time">1pm</div>
      <div class="time">2pm</div>
      <div class="time">3pm</div>
      <div class="time">4pm</div>
      <div class="time">5pm</div>
      <div class="time">6pm</div>
      <div class="time">7pm</div>
      <div class="time">8pm</div>
      <div class="time">9pm</div>
      <div class="time">10pm</div>
      <div class="time">11pm</div>
    </div>
    <div class="space-col">
      <div class="lots">1</div>
      <div class="space">Mr Adeyemo</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
    <div class="lots">2</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">3</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">4</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">5</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">6</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">7</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">8</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">9</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">10</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div id="info_block">
      <label>Name: </label>
      <div id="info_name"></div>
      <label>Name: </label>
      <div></div>
      <label>Name: </label>
      <div></div>
    </div>
  </div>
</section>