<section>
  <div class="top-landing">
    <h1>Admin View</h1>
  </div>
</section>
<div id="dateToggle">
  <div>
    <label class="dropbtn" for="myDropdown">Destination</label>
    <select id="myDropdown" name="destination">
      <option class="pickDest" value="LIBRARY">Library</option>
      <option class="pickDest" value="SU">Student Union</option>
      <option class="pickDest" value="VILLAGE">University Village</option>
      <option class="pickDest" value="SPORTSPARK">Sportspark</option>
      <option class="pickDest" value="NEW_SCI">New Science Building</option>
      <option class="pickDest" value="INTO">INTO Building</option>
      <option class="pickDest" value="SAINSBURY">Sainsbury Centre</option>
    </select>
  </div>
  <div>
    <p class="dropbtn" for="arriveDate">Arrival Date:</p>
        <input type="date" id="arriveDate" name="arrival-start" max="2032-12-31">
  </div>
  <!-- set minimum date to current day -->
  <script>
    document.getElementById('arriveDate').value = new Date().toISOString().substring(0, 10);
    document.getElementById('arriveDate').min = new Date().toISOString().substring(0, 10);
  </script>
</div>
<section>
  <div class="wrapper">
    <div class="time-axis">
      <div class="time" id="block"></div>
      <div class="time">12am</div>
      <div class="time">1am</div>
      <div class="time">2am</div>
      <div class="time">3am</div>
      <div class="time">4am</div>
      <div class="time">5am</div>
      <div class="time">6am</div>
      <div class="time">7am</div>
      <div class="time">8am</div>
      <div class="time">9am</div>
      <div class="time">10am</div>
      <div class="time">11am</div>
      <div class="time">12pm</div>
      <div class="time">1pm</div>
      <div class="time">2pm</div>
      <div class="time">3pm</div>
      <div class="time">4pm</div>
      <div class="time">5pm</div>
      <div class="time">6pm</div>
      <div class="time">7pm</div>
      <div class="time">8pm</div>
      <div class="time">9pm</div>
      <div class="time">10pm</div>
      <div class="time">11pm</div>
    </div>
    <div class="space-col">
      <div class="lots">1</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">2</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">3</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">4</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">5</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">6</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">7</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">8</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">9</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space-col">
      <div class="lots">10</div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div>
      <form id="info_block" onsubmit="" method="post" action="admin">
        <input id="info_name" type="text" name="name" autocomplete="off" placeholder="Name">
        <input type="email" name="email" autocomplete="off" placeholder="Email">
        <input type="number" name="phoneNumber" autocomplete="off" placeholder="Phone Number" min="0">
        <input type="number" name="arrival" placeholder="Time of Arrival">
        <!-- Radio buttons -->
        <div style="display: flex;">
          <input type="radio" id="1" class="radio" name="active_lot" value="0">
          <label for="html">1</label><br>
          <input type="radio" id="2" class="radio" name="active_lot" value="1">
          <label for="css">2</label><br>
          <input type="radio" id="3" class="radio" name="active_lot" value="2">
          <label for="javascript">3</label>
          <input type="radio" id="4" class="radio" name="active_lot" value="3">
          <label for="html">4</label><br>
          <input type="radio" id="5" class="radio" name="active_lot" value="4">
          <label for="css">5</label><br>
          <input type="radio" id="6" class="radio" name="active_lot" value="5">
          <label for="javascript">6</label>
          <input type="radio" id="7" class="radio" name="active_lot" value="6">
          <label for="html">7</label><br>
          <input type="radio" id="8" class="radio" name="active_lot" value="7">
          <label for="css">8</label><br>
          <input type="radio" id="9" class="radio" name="active_lot" value="8">
          <label for="javascript">9</label>
          <input type="radio" id="10" class="radio" name="active_lot" value="9">
          <label for="javascript">10</label>
        </div>
        <div class="error" id="error" placeholder="no errors"></div>
        <!-- submit button -->
        <input id="submit" type="submit" name="submit" value="Submit" onclick="moveBooking()">
        <input name="store">
      </form>
    </div>
  </div>
</section>