<section>
  <div class="top-landing">
    <h1>UEA+ MySpace</h1>
  </div>
</section>

<section>
  <div class="destination">
    <h4 class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Your Destination</h4>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Library</a>
      <a class="dropdown-item" href="#">SU</a>
      <a class="dropdown-item" href="#">University Village</a>
      <a class="dropdown-item" href="#">Sportspark</a>
      <a class="dropdown-item" href="#">New Science Building</a>
      <a class="dropdown-item" href="#">INTO Building</a>
      <a class="dropdown-item" href="#">Sainsbury Centre</a>
    </div>
  </div>
</section>

<section>
  <div class="arrival">
    <label for="start">Arrival date:</label>
    <input type="date" id="start" name="trip-start" value="2022-03-20" min="2022-03-20" max="2025-12-31">
  </div>
</section>

<section>
  <div class="duration">
   
  </div>
</section>