<section>
  <div class="top-landing">
    <h1>UEA+ MySpace</h1>
  </div>
</section>

<section>
  <div class="container">
    <div class="row landing-selection">
      <div class="col-sm destination">
        <p class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"  aria-expanded="false">Select Your Destination</p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Library</a>
          <a class="dropdown-item" href="#">SU</a>
          <a class="dropdown-item" href="#">University Village</a>
          <a class="dropdown-item" href="#">Sportspark</a>
          <a class="dropdown-item" href="#">New Science Building</a>
          <a class="dropdown-item" href="#">INTO Building</a>
          <a class="dropdown-item" href="#">Sainsbury Centre</a>
        </div>
      </div>
      <div class="arrival col-sm">
        <p for="start">Arrival Date:</p>
        <input type="date" id="start" name="trip-start" value="2022-03-20" min="2022-03-22" max="2032-12-31">
      </div>
      <div class="col-sm">
        <div class="duration">
          <p>Duration:</p>
        </div>
      </div>
    </div>
  </div>
</section>