<section>
  <div class="top-landing">
    <h1>UEA+ MySpace</h1>
  </div>
</section>

<section>
  <div class="container">
    <div class="row landing-selection">
      <div class="col-sm destination">
        <label id="dest-title" for="dest-select">Destination:</label>
        <select name="destination" id="dest-select">
          <option value="">--Please choose an option--</option>
          <option value="library">Library</option>
          <option value="su">Student Union</option>
          <option value="village">University Village</option>
          <option value="sportspark">Sportspark</option>
          <option value="sci">New Science Building</option>
          <option value="into">INTO Building</option>
          <option value="sainsbury">Sainsbury Centre</option>
          <option value="arts">Arts Building</option>
          <option value="campuskitchen">The Campus Kitchen</option>
          <option value="career">Career Central</option>
          <option value="efry">The Elizabeth Fry Building</option>
          <option value="tpaine">Thomas Paine Study Center</option>
        </select>
      </div>
      <div class="arrival col-sm">
        <p for="start">Arrival Date:</p>
        <input type="date" id="start" name="arrival-start" max="2032-12-31">
        <!-- change minimum date to tdy -->
      </div>
      <div class="arrival col-sm" id="arrive-date">
        <label id="time-title" for="arrive-time">Arrival Time:</label>
        <select name="destination" id="arrive-time">
          <option value="">--Please choose an option--</option>
          <option value="">12am</option>
          <option value="">1am</option>
          <option value="">2am</option>
          <option value="">3am</option>
          <option value="">4am</option>
          <option value="">5am</option>
          <option value="">6am</option>
          <option value="">7am</option>
          <option value="">8am</option>
          <option value="">9am</option>
          <option value="">10am</option>
          <option value="">11am</option>
          <option value="">12pm</option>
          <option value="">1pm</option>
          <option value="">2pm</option>
          <option value="">3pm</option>
          <option value="">4pm</option>
          <option value="">5pm</option>
          <option value="">6pm</option>
          <option value="">7pm</option>
          <option value="">8pm</option>
          <option value="">9pm</option>
          <option value="">10pm</option>
          <option value="">11pm</option>
        </select>
      </div>
      <div class="col-sm" id="arrive-time">
        <div class="duration">
          <label id="duration-title" for="duration-select">Duration:</label><br>
          <select name="destination" id="duration-select">
            <option value="">--1hr minimum--</option>
            <option value="2">2 hours</option>
            <option value="3">3 hours</option>
            <option value="4">4 hours</option>
            <option value="5">5 hours</option>
            <option value="6">6 hours</option>
            <option value="7">7 hours</option>
            <option value="8">8 hours</option>
            <option value="9">9 hours</option>
            <option value="10">10 hours</option>
            <option value="11">11 hours</option>
            <option value="12">12 hours</option>
            <option value="13">13 hours</option>
            <option value="14">14 hours</option>
            <option value="15">15 hours</option>
            <option value="16">16 hours</option>
            <option value="17">17 hours</option>
            <option value="18">18 hours</option>
            <option value="19">19 hours</option>
            <option value="20">20 hours</option>
            <option value="21">21 hours</option>
            <option value="22">22 hours</option>
            <option value="23">23 hours</option>
            <option value="24">24 hours</option>
          </select>
        </div>
      </div>
    </div>
    <div class="landing-submit">
      <input id="land-sub-button" type="submit" name="submit" value="Submit">
    </div>
  </div>
</section>