<section>

    <body>
        <div class="login-heading">

            <form class="form" method="POST" action="/login">
                <button class=SignUpNoSelect-button onclick="document.location='/signup'">SIGN UP</button>
                <button class=LoginSelected-button onclick="document.location='/login'">LOGIN</button>


                <input type="email" name="email" placeholder="Email " required autofocus>
                <input type="password" name="password" placeholder="Password " required autofocus>
                <input type="submit" name="submit" value="Login">
            </form>
        </div>
    </body>
</section>