<section></section>
<body>
  <div class="user-container">
    <div class="leftbar">
      <nav>
        <a onclick="tabs(0)" class="tab">
          <i class="my-profile"></i>
          <h2>Profile</h2>
        </a>
        <a onclick="tabs(1)" class="tab">
          <i class="my-booking"></i>
          <h2>Booking</h2>
        </a>
        <a onclick="tabs(2)" class="tab">
          <i class="my-payment"></i>
          <h2>Payment</h2>
        </a>
        <a onclick="tabs(3)" class="tab">
          <i class="Logout"></i>
          <h2><a href="/.">LogOut</a></h2>
        </a>
      </nav>
    </div>
    <div class="rightbar">
      <div class="my-profile tabShow">
        <h1>User Profile</h1>
        <h3>Full Name</h3>
        <input type="text" class="input" value="">
        <h3>Phone Number</h3>
        <input type="text" class="input" value="">
        <h3>Email Address</h3>
        <input type="text" class="input" value="">
        <h3>New Password</h3>
        <input type="password" class="input" value="">
        <button class="update-btn">Update</button>
      </div>
      <div class="my-booking tabShow">
        <h1>Booking Detail</h1>
        <h3>Full Name</h3>
        <input type="text" class="input" value="">
        <h3>Email Address</h3>
        <input type="text" class="input" value="">
        <h3>Destination</h3>
        <input type="text" class="input" value="">
        <h3>Parking Number</h3>
        <input type="text" class="input" value="">
        <h3>Date</h3>
        <input type="text" class="input" value="">
        <h3>Time</h3>
        <input type="text" class="input" value="">
        <h3>Duration</h3>
        <input type="text" class="input" value="">
        <button class="cancel-btn">Cancel Booking</button>

      </div>
      <div class="my-payment tabShow">
        <h1>Payment Info</h1>
        <h3>Payment Method</h3>
        <input type="text" class="input" value="">
        <h3>Full Name</h3>
        <input type="text" class="input" value="">
        <h3>Expiry date</h3>
        <input type="text" class="input" value="">
        <h3>CVV</h3>
        <input type="text" class="input" value="">
        <button class="update-btn">Update</button>
      </div>
    </div>
  </div>
</body>
</section>