<div class="card">
  <div class="leftside">
    <a href="" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/cash-payment-icon-5.png" width="350" alt="Cash Payment Icon"/></a>  
  </div> 
  <div class="rightside">
    <form action="">
      <h1>CheckOut</h1>
      <p>Cardholder Name</p>
      <input type="text" class="inputbox" name="name" required />
      <p>Card Number</p>
      <input type="number" class="inputbox" name="card_number" id="card_number" required />
      <p>Card Type</p>
      <select class="inputbox" name="card_type" id="card_type" required>
        <option value="">--Select a Card Type--</option>
        <option value="Visa">Credit</option>
        <option value="Visa">Debit</option>
        <option value="Visa">Visa</option>
        <option value="RuPay">Paypall</option>
        <option value="MasterCard">MasterCard</option>
      </select>
      <div class="cardDets">
        <p class="expiry">Expiry</p>
        <input type="date" class="inputbox" name="exp_date" id="exp_date" required />
        <p class="inputCVV">CVV</p>
        <input type="password" class="inputbox" name="cvv" id="cvv" required />
      </div>
      <p></p>
      <button type="submit" class="button">CheckOut</button>
    </form>
  </div>
</div>