<section>

    <body>
        <div class="container-signup">
            <form class="form" id="createAccount" method="POST" action="/signup">
                <h1 class="form-title">Create Account</h1>
                <div class="form-message form-message-error"></div>
                <div class="form-input-group">
                    <input type="text" class="form-input" name="name" required autofocus placeholder="Name">
                    <div class="form-input-error-message"></div>
                </div>
                <div class="form_input-group">
                    <input type="email" class="form-input" name="email" required autofocus placeholder="Email">
                    <div class="form-input-error-message"></div>
                </div>
                <div class="form-input-group">
                    <input type="password" class="form-input" name="password" required autofocus placeholder="Password">
                    <div class="form-input-error-message"></div>
                </div>
                <div class="form-input-group">
                    <input type="password" class="form-input" name="confirm password" required autofocus placeholder="Confirm Password">
                    <div class="form-input-error-message"></div>
                </div>
                <button class="form-button" type="submit">Continue</button>
                <hr>
                <p class="or">OR</p>
                <button class="form-button" type="button"><a href="/.">Continue as guest</a></button>
            </form>
            <p class="form-text"></p>
            <p class="form-link">Already have an account? <a href="/login" id="linkLogin">Sign in</a></p>

            <a class="back-link" href="./">---Back</a>
    </body>
</section>