<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../scss/style.css">
  <link rel="stylesheet" href="../scss/style.css">
  <title>
    <%- title %>
  </title>
</head>

<body>
  <!-- navbar -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="/">UEA+<strong> MySpace</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
          <a class="nav-item nav-link" href="/myAccount">My Account</a>
          <a class="nav-item nav-link active" href="/admin">Admin</a>
        </div>
      </div>
      </div>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>

  <!-- optional and required tags -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    //============================== Create Booking Object ==================================
    class Booking {
      constructor(name, phoneNumber, email, time) {
        this.name = name;
        this.phoneNumber = phoneNumber;
        this.email = email;
        this.time = time;
        this.laneNumber = 0;
      }
    }
    //============================== Create Booking Object ==================================


    //============================== Create INFO ==================================
    let array = [
      new Booking("caleb test var", "07534877339", "calebadeyemo2@gmail.com", 4),
      new Booking("caleb test var2", "07534877339", "calebadeyemo2@gmail.com", 4),
      new Booking("Rosette", "07934877339", "Rosette@gmail.com", 4),
      new Booking("kieran", "07934877339", "kieran@gmail.com", 6),
      new Booking("Chidz", "07934877339", "Chidz@gmail.com", 4),
      new Booking("Caleb", "07934877339", "Caleb@gmail.com", 10),
      new Booking("Rose", "07934877339", "Rose@gmail.com", 10),
      new Booking("Oba", "07934877339", "Oba@gmail.com", 4),
      new Booking("Karan", "07934877339", "Karan@gmail.com", 6),
      new Booking("Jass", "07934877339", "Jass@gmail.com", 6),
      new Booking("Lewis", "07934877339", "Lewis@gmail.com", 6),
      new Booking("Harpreet", "07934877339", "Harpreet@gmail.com", 4),
      new Booking("Lucas", "07934877339", "Lucas@gmail.com", 10),
      new Booking("Alice", "07934877339", "Alice@gmail.com", 4),
      new Booking("Koyin", "07934877339", "Koyin@gmail.com", 6),
      new Booking("Uche", "07934877339", "Uche@gmail.com", 4),
      new Booking("Uche", "07934877339", "Uche@gmail.com", 23),
      new Booking("Uche2", "07934877339", "Uche2@gmail.com", 23),
      new Booking("Uche3", "07934877339", "Uche3@gmail.com", 4),
    ]
    //============================== Create INFO ==================================

    //============================== Get DOM elements ==================================
    //Get spaces
    let spaces = document.querySelectorAll(".space");
    //Get display screen
    let infoName = document.getElementById("info_name");
    let infoNumber = document.getElementById("info_number");
    let infoEmail = document.getElementById("info_email");
    //Get Form
    let form = document.getElementById("info_block");
    let radio = document.getElementsByClassName("radio");
    //Get submit button
    // form.elements.store.style.visibility = "hidden" //hide extra form input


    //============================== Get DOM elements ==================================

    //============================== Add booking ==================================
    function addBooking(obj, timeVariable, addLaneNumber) {
      obj.laneNumber = addLaneNumber;
      //append div to space 
      spaces[timeVariable].innerHTML = `<div>${obj.name}</div><div class="booking" id="${obj.time}">${JSON.stringify(obj)}</div>`;
      console.log(spaces[timeVariable])

      //change color of field
      spaces[timeVariable].style.backgroundColor = 'lightblue';

      
    }
    //============================== Add booking ==================================


    //============================== Load Spaces ==================================
    array.forEach(element => {
      let timeVariable = element.time // Number to be used as index for class "spaces", i.e spaces[timeVariable]
      let lane_no = 0;
      while (spaces[timeVariable].innerHTML != ``) {
        timeVariable += 24;
        lane_no++;
      }
      addBooking(element, timeVariable, lane_no);

    })
    //============================== Load Spaces ==================================

    //============================== Move Bookings ==================================
    function moveBooking() {
      document.querySelector('form').addEventListener('submit', (e) => {
        e.preventDefault();
        const data = Object.fromEntries(new FormData(e.target).entries());
        let timeVariable = parseInt(data.arrival);
        for (let i = 0; i < data.active_lot; i++) {
          timeVariable += 24;
        }
        let booking = new Booking(data.name, data.phoneNumber, data.email, data.arrival)
        addBooking(booking, timeVariable, data.active_lot);
        deleteBooking(JSON.parse(data.store).time, JSON.parse(data.store).laneNumber)
        form.reset()
      });
    }
    //============================== Move Bookings ==================================

    //============================== Delete bookings ==================================
    function deleteBooking(time, laneNumber) {
      let timeVariable = parseInt(time);
        for (let i = 0; i < laneNumber; i++) {
          timeVariable += 24;
        }
        spaces[timeVariable].style.backgroundColor = "rgb(214, 214, 214)";
        spaces[timeVariable].innerHTML = ""
    }
    //============================== Delete bookings ==================================


    //============================== Display info to info screen ==================================
    spaces.forEach(space => {
      space.addEventListener('click', event => {
        if (space.firstChild != null) { //If booking space is not empty
          let obj = JSON.parse(space.childNodes[1].innerHTML);
          console.log(obj)
          form.elements.name.value = obj.name;
          form.elements.phoneNumber.value = obj.phoneNumber;
          form.elements.email.value = obj.email;
          form.elements.arrival.value = obj.time;
          radio[obj.laneNumber].checked = true;
          form.elements.store.value = JSON.stringify(obj);
          
        }
        else { //Display nothing if space is empty 
          form.elements.name.value = "";
          form.elements.phoneNumber.value = ``;
          form.elements.email.value = "";
          form.elements.arrival.value = null;
          $('.radio').prop('checked', false)
          form.elements.store.value = "";
        }
      })
    })
    //============================== Display info to info screen ==================================
  </script>
</body>

</html>