<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../scss/style.css">
  <title>
    <%- title %>
  </title>
</head>

<body>
  <!-- navbar -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="/">UEA+<strong> MySpace</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
          <a class="nav-item nav-link" href="/myAccount">My Account</a>
          <a class="nav-item nav-link" href="/admin">Admin</a>
          <a class="nav-item nav-link" href="/payment">Payment</a>
        </div>
      </div>
      </div>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
  <!-- optional and required tags -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    var destination = document.getElementById("dest-select");
    var arrivalDate = document.getElementById("arriveDate");
    var arrivalTime = document.getElementById("arrive-time");
    var duration = document.getElementById("duration-select");
    var submitForm = document.getElementById("land-form");

    var pickDest = document.getElementsByClassName("pickDest");
    var pickTime = document.getElementsByClassName("pickTime");
    var pickDuration = document.getElementsByClassName("pickDuration");

    submitForm.addEventListener('submit', (e) => {
      e.preventDefault();

      let lot = pickDest[destination.selectedIndex].value;
      let arriveTime = pickTime[arrivalTime.selectedIndex].value;
      let date = new Date(arrivalDate.value); // format date object
      date.setHours(arriveTime);
      let startDate = date.getTime();
      let dur = parseInt(pickDuration[duration.selectedIndex].value);

      //Get form information from form and put into an object
      const data = Object.fromEntries(new FormData(e.target).entries());
      var name = data.name;
      var email = data.email;

      let objReturn = {
        LOT: lot,
        name: name,
        email: email,
        start_date: startDate,
        dur_hours: dur,
        dur_minutes: 0
      }

      console.log(objReturn);

      const xhttp = new XMLHttpRequest();

      xhttp.open("PATCH", "/admin", true);

      xhttp.setRequestHeader("Accept", "application/json");
      xhttp.setRequestHeader('Content-type', 'application/json');

      xhttp.onload = function () {
        console.log(this.responseText);
        console.log(this.status);
      }

       // Request data to send 
       xhttp.send(JSON.stringify(objReturn));
    });
  </script>
</body>

</html>