<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/scss/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../scss/style.css">
  <title>
    <%- title %>
  </title>
</head>

<body>
  <!-- navbar -->
  <header>
    <nav class="navbar">
      <div class="navbar-nav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item active" href="/login">Login</a>
        <a class="nav-item" href="/signup">Sign Up</a>
        <a class="nav-item" href="/myAccount">My Account</a>
      </div>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>

</html>